body{
    background-color: #d4d9d5;
    margin: 0;
    padding: 0;
}

.mainDiv{
    justify-self: center;
    
    
}

.listOfTopics{
    display: grid;
    grid-auto-flow: row;
    max-width:800px;
    min-width: 500px;
    gap: 15px;

}

.topicListButtons{
    width:100%;
    border: none;
    background-color: transparent;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 1fr 75px;
    /* flex-direction: row; */
    align-items: center;
    align-content: space-between;
    /* align-items:stretch; */
    gap: 30px;
}

.buttonDiv{
    border-color: #748c9280;
    padding: 25px;
    background-color: #d4d9d5;
    border-style:solid;
    border-radius: 25px;
}

.textHolder{
    flex: 1;
    display:flex;
    flex-direction: column;
    gap: 10px;


    
}
.buttonTitle{
    font-family: Inter;
    font-size: 20px;
    text-align: start;
    color: #1d1f23;
    font-weight: 600;
    

}
.buttonText{
    font-family: Inter;
    font-size: 14px;
    text-align: start;
    color: #696d72;
}

.topicImage{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-color: #748c9280;
    border-style: solid;
    border-radius: 16px;
}

.arrowHolder1{
    width: 75px;
}

.arrowHolder{
    border: #748c9280;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    object-fit: cover;     
    transform: rotate(180deg); 
    padding: 20px;
    width: 25px;  
    transition: 0.5s;     
}

.arrowHolder:hover{
    content: url("IMG/visily-arrow-left-white.png");
    background-color: #124e65;
    border: #2f3843;
    /* transform: rotate(90deg); */
}

.activeArrow{
    transform: rotate(275deg);
    content: url("IMG/visily-arrow-left-white.png");
    background-color: #124e65;
    border: #2f3843;
}

.imgButtonClick{
    transform: rotate(275deg); 
}


.subTopics{
    display: grid;
    /* display: list-item; */
    row-gap: 10px;
    padding-top: 20px;
    /* list-style-type: "➔ "; */
}

.subTopicButton{
    text-align: left;
    font-family: Inter;
    font-size: 14px;
    text-align: start;
    color: #696d72;
    width: fit-content;
    background-color: transparent;
    border: none;
}

.subTopicButton:hover{
    color:#2f3843
}

.subTopics{
    margin-left: 150px;
}

.footer{
    clear: both;
    display: block;
}

.footerDiv{
    /* position: absolute; */
    bottom: 0px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-auto-flow: column;
    height: 40px;
    border: none;
    border-top: 2px solid #a4b2b3;
    padding: 20px 0px;
    color: #2f3843;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    align-content: center;
    


}

.footerleft{
    margin-left: 50px;
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
}

.footerright{
    margin-right: 50px;
    text-align: right;
    align-content: center;
}

.headerholder{
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 100px;
    background-color: #124e65;
    border-bottom: 2px solid #124e65;
    margin-bottom: 50px;
    top: 0;
    right: 0;
    left:0;
    color: #d4d9d5;
    font-family: Inter;
    font-weight:bold;
    font-size: 32px;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-around;
}

.headerdiv{

    justify-items: center;
    text-align: center;

    
    /* box-shadow: 0px 2px 2px #0000001A, 0px 4px 6px #0000001A; */
}