<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <header>
            <div class="headerholder">
                <div class="design">^-^</div>
                <div class="headerdiv">AS Level Calculator</div>
                <div class="design"><33</div>
            </div>
        </header>

        <div class="mainDiv">
            <div class="listOfTopics"></div>

        </div>

    <footer>
    <div class="footerDiv">
        <div class="footerleft">
                <div class="footertop">AS Level Calculator</div>
                <div class="footerbottom">Made by Rapheal & Anael.</div>
        </div>
        <div class="footerright">Made for ThirdSpace HackClub</div>
    </div>
    </footer>
    </body>

    <script>
        const topicList = [
            {topic : "Quadratics",
                subtext: "Solve quadratic equations, find roots, and analyze quadratic functions.",
                subtopics: [
                    {id : 1.1, name: 'Middle Term Breaking'},
                    {id : 1.2, name: "Completing Square"},
                    {id : 1.3, name: "Quadratic Formula"},
                    {id : 1.4, name: "Discriminant"},
                    {id : 1.5, name: "Disguised Quadratic"}
                ]},

            {topic : "Binomial",
                subtext: "Expand binomial expressions and calculate specific terms or coefficients.",
                subtopics: [
                    {id : 2.1, name: "Find Coeffecint of X to Power N"},
                    {id : 2.2, name: "Find Complete expantion upto a power of X"},
                    {id : 2.3, name: "Find the value of an unknown varible using coeffecient of X"},
                    {id : 2.4, name:  "Find the value of an unknown varible using coeffecient of X in 2 Brackets"}
                ]},

            {topic : "Arithmetic",
                subtext: "Calculate terms, sums, and properties of arithmetic sequences and series.",
                subtopics: [
                    {id : 3.1, name: "Find nth term"},
                    {id : 3.2, name: "Find 1st term and difference from 2 terms"},
                    {id : 3.3, name: "Find sum upto nth term"},
                    {id : 3.4, name: "Find sum using 2 terms"},
                    {id : 3.5, name: "Find nth term equation"}
                ]},

            {topic : "Geometric",
                subtext: "Calculate terms, sums, and properties of geometric sequences and series",
                subtopics: [
                    {id : 4.1, name: "Find nth term"},
                    {id : 4.2, name: "Find 1st term and difference from 2 terms"},
                    {id : 4.3, name: "Find sum upto nth term"},
                    {id : 4.4, name: "Find sum using 2 terms"},
                    {id : 4.5, name: "Find nth term equation"}
                ]},

            {topic : "Trigonometry",
                subtext: "Calculate trigonometric ratios, angles, and solve trigonometric equations.",
                subtopics: [
                    {id : 5.1, name: "Equations"},
                    {id : 5.2, name: "Graphs"}
                ]},

            {topic : "Differentiation",
                subtext: "Differentiate functions and calculate gradients, unknowns and stationary points",
                subtopics: [
                    {id : 6.1, name: "Equation of Line Using X Coordinate"},
                    {id : 6.2, name: "Equation of Line Using Y Coordinate"},
                    {id : 6.3, name: "Coordinates of Stationary Point"},
                    {id : 6.4, name:  "Find value of an unknown using a X Coordinate"},
                    {id : 6.5, name:  "Find value of an unknown using a Y Coordinate"},
                    {id : 6.6, name: "Nature of Stationary Point"},
                    {id : 6.7, name: "Find Derivative"},
                    {id : 6.8, name: "Find Double Derivative"}
                ]},
            {topic : "Integration",
                subtext: "Integrate functions and calculate definite integrals and areas under curves.",
                subtopics: [
                    {id : 7.1, name: "Integration of an Equation"},
                    {id : 7.2, name: "Integration of an Equation with Limits"}
                ]}
        ];
        lenTopics = topicList.length
        
        newHTML = ""

        for (let i = 0; i < lenTopics; i++){
            // topicName = 
            // subText = topicList[i].subtext
            newHTML += 
            `
            <div class="buttonDiv"> 
                <button class=topicListButtons> 
                    <span class=buttonImage>
                        <img src=static/IMG/${topicList[i].topic}.jpg class="topicImage">   
                    </span>
                    <span class=textHolder>
                        <span class=buttonTitle>${topicList[i].topic}</span> 
                        <span class=buttonText>${topicList[i].subtext}</span> 
                    </span>
                    <span class=arrowHolder1 id="${topicList[i].id}">
                        <img src=static/IMG/visily-arrow-left-grey.png class="arrowHolder">
                    </span>
                </button>
            </div>
            `
        };

        document.querySelector(".listOfTopics").innerHTML = newHTML


        // takes the active div as the parameter
        // finds all the sub topic buttons using querySelectorAll 
        // then using forEach check if they are clicked
        // if clicked it uses event.stopPropagation to not let the parent code know the event has occured

        function subTopicButtonClick(topicdiv) {

            const subTopicButtons = topicdiv.querySelectorAll(".subTopicButton")
                subTopicButtons.forEach(subTopicButton => {
                    subTopicButton.addEventListener('click', (event) => {
                        // console.log(subTopicButton.id)
                        event.stopPropagation();
                    })
                    })}
        
        // takes the acive div as a parameter
        // adds a new class to find in future 
        // converts the list from querySelectorAll into an array using Array.from
        // find the number of subtopics by .indexOf
        // runs a loop and increment into the html fo reach
        // edits the innerHTML of the container


        function subTopicMenuAdd(topicdiv) {
            topicdiv.classList.add('activeTopic')
            topicdiv.querySelector('.arrowHolder').classList.add('activeArrow')
            subTopicHTML = `
            <form class="subTopicsForm" action="/" method="POST">
                <div class="subTopics">
            `
            arrayPosition = Array.from(topicButtons).indexOf(topicdiv)
            subtopiclen = (topicList[arrayPosition].subtopics).length
            for (let i = 0; i < subtopiclen; i++){
                subTopicHTML += `
                    <button name="subTopicId" class="subTopicButton" value="${topicList[arrayPosition].subtopics[i].id}" id="${topicList[arrayPosition].subtopics[i].id}">${topicList[arrayPosition].subtopics[i].name}</button>
                `
            }
            subTopicHTML+=`
                </div>
            </form>
            `
            // topicdiv.querySelector(".textHolder").innerHTML += subTopicHTML
            topicdiv.insertAdjacentHTML("beforeend", subTopicHTML);
            subTopicButtonClick(topicdiv)
        }


        const topicButtons = document.querySelectorAll(".buttonDiv")
        topicButtons.forEach(topicButton => {
            topicButton.addEventListener('click', () => {
                OtherMenuClose(topicButton)
                MenuLoader(topicButton)
            })})


        function MenuLoader(topicButton) {
            
            const subTopicsELement = topicButton.querySelector(".subTopicsForm")

                if (!subTopicsELement) {
                    subTopicMenuAdd(topicButton)
                    // subTopicButtonClick(topicButton)
                } else {
                    subTopicsELement.remove()
                    topicButton.classList.remove('activeTopic')
                    topicButton.querySelector('.arrowHolder').classList.remove('activeArrow')
                }
            
        }


        function OtherMenuClose(topicButton) {
            const activeMenues = document.querySelectorAll(".activeTopic")
            if (activeMenues) {
                activeMenues.forEach(activeMenu => {
                    if (activeMenu != topicButton) {
                        const subTopicsELement = activeMenu.querySelector(".subTopics")
                        subTopicsELement.remove()
                        activeMenu.querySelector('.arrowHolder').classList.remove('activeArrow')
                        activeMenu.classList.remove('activeTopic')
                    }
                })
            }
        }
        



    </script>


</html>